header {
    text-align: center;
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    color: white;
    font-family: monospace, monospace;
}

body {
    margin: 0;
    min-height: 100%;
    padding: 0;
    font-family: monospace, monospace;
    font-size: 20px;
    color: #1a1a1a;
}

main {
    display: block;
}

a {
    background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

/* button,
input {
    overflow: visible;
} */
  

.hidden {
    display: none;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5rem;
    line-height: 1.25;
}
  
h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
  
p {
    font-size: 1.1rem;
    margin: 0 0 1rem;
    line-height: 1.5;
}
  
/* ul,
ol,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
} */
  
/* label {
    display: inline-block;
} */
  
input,
select,
textarea,
button {
    margin: 0;
}
  
a {
    color: #1b89bc;
    text-decoration: none;
}
  
a:hover {
    color: #065b83;
    text-decoration: underline;
}
  
/* HEIGHT / WIDTH UTILS */
.w-100 {
    width: 100%;
}
  
.w-75 {
    width: 75%;
}
  
.w-50 {
    width: 50%;
}
  
.w-25 {
    width: 25%;
}
  
.min-100-vh {
    min-height: 100vh;
}
  
.min-100-vw {
    min-width: 100vw;
}
  
/* MARGIN/PADDING UTILS */
/* Margin - all sides */
.m-0 {
    margin: 0;
}
  
.m-1 {
    margin: 0.375rem;
}
  
.m-2 {
    margin: 0.625rem;
}
  
.m-3 {
    margin: 1rem;
}
  
.m-4 {
    margin: 1.375rem;
}
  
.m-5 {
    margin: 1.625rem;
}
  
.m-auto {
    margin: auto;
}
 

/* Padding - all sides */
.p-0 {
    padding: 0;
}
  
.p-1 {
    padding: 0.375rem;
}
  
.p-2 {
    padding: 0.625rem;
}
  
.p-3 {
    padding: 1rem;
}
  
.p-4 {
    padding: 1.375rem;
}
  
.p-5 {
    padding: 1.625rem;
}
  

/* TEXT UTILS */
.text-uppercase {
    text-transform: uppercase !important;
}
  
.text-lowercase {
    text-transform: lowercase !important;
}
  
.text-center {
    text-align: center !important;
}
  
.text-justify {
    text-align: justify !important;
}
  
.text-right {
    text-align: right !important;
}
  
.text-primary {
    color: #2d3e50 !important;
}
  
.text-info {
    color: #1bbc9b !important;
}
  
.text-danger {
    color: #e64c66 !important;
}
  
.text-default {
    color: #aeaeae !important;
}
  
.text-light {
    color: #d9e9e8 !important;
}
  
.text-dark {
    color: #1a1a1a !important;
}
  
.text-white {
    color: #ffffff !important;
}
  
.text-black {
    color: #000000 !important;
}
  
.text-link {
    color: #1b89bc !important;
}
  
/* BACKGROUND UTILS */
.bg-primary {
    background-color: #38b1de !important;
}
  
.bg-light {
    background-color: #d9e9e8 !important;
}
  

/* DISPLAY UTILS*/
.display-none {
    display: none !important;
}
  
.display-block {
    display: block !important;
}
  
.display-inline-block {
    display: inline-block !important;
}
  
.display-inline {
    display: inline !important;
}
  
.display-flex {
    display: flex !important;
}
  
/* BUTTON UTILS */
.btn {
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    outline: none;
    color: #1a1a1a;
    background-color: #aeaeae;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
  
  
.btn.btn-info {
    background-color: #1bbc9b;
    color: #ffffff;
}
  
.btn.btn-info:hover {
    background-color: #31e1bd;
}
  
 
/* INPUT UTILS */
form .form-input {
    width: 100%;
    padding: 0.75rem;
    color: #1a1a1a;
    background-color: #ffffff;
    margin: 0.625rem 0;
    font-size: 1.2rem;
    border: 1px solid #484848;
    border-radius: 0.3rem;
}
  
form .form-input.form-input-squared {
    border-radius: 0;
}
  
  
/* FLEX UTILS */
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
  
.flex-wrap {
    flex-wrap: wrap;
}
  
.flex-no-wrap {
    flex-wrap: nowrap;
}
  
.justify-space-between {
    justify-content: space-between;
}
  
.justify-space-around {
    justify-content: space-around;
}
  
.justify-flex-start {
    justify-content: flex-start;
}
  
.justify-flex-end {
    justify-content: flex-end;
}
  
.justify-center {
    justify-content: center;
}
  
.align-start {
    align-items: flex-start;
}
  
.align-stretch {
    align-items: stretch;
}
  
.align-end {
    align-items: flex-end;
}
  
.align-center {
    align-items: center;
}
  
.align-content-start {
    align-content: flex-start;
}
  
.align-content-stretch {
    align-content: stretch;
}
  
.align-content-end {
    align-content: flex-end;
}
  
.align-content-center {
    align-content: center;
}
  
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -15px;
    margin-right: -15px;
}
  
[class*='col-'] {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
  
.col-auto {
    flex-grow: 1;
    flex-basis: 0;
}
  
.col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}
  
.col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
  
.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
  
.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
  
.col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
  
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
  
.col-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
  
.col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
  
.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
  
.col-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}
  
.col-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}
  
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}


/* results */
.weatherOutput {

}


/* example */
:root {
    --primary: #ccdad1;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --dark: #38302e;
    --border-radius: 0.3rem;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
  }
  
  main {
    margin: 20px auto;
    width: 94%;
  }
  
  p {
    font-size: 1.2rem;
  }
  
  .btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
  }
  
  .btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
  }
  
  .btn-inline {
    display: inline;
  }
  
  .btn-back {
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--secondary);
    transform: translate(-1px, -1px);
    display: inline-block;
    width: auto;
    margin-top: 20px;
    padding: 15px;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .btn-back:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
  }
  
  .hero {
    padding: 3% 4%;
    background-color: var(--dark);
    color: var(--primary);
  }
  
  .hero p {
    max-width: 75%;
  }
  
  .app-title {
    font-size: 3rem;
    background-color: var(--primary);
    color: var(--dark);
    padding: 0 10px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px var(--light-dark);
  }
  
  .list-group {
    padding: 0;
    list-style: none;
  }
  
  .list-item {
    margin-bottom: 10px;
    padding: 1.5%;
    border-radius: var(--border-radius);
    background-color: var(--light-dark);
    color: var(--primary);
    text-decoration: none;
  }
  
  .list-item:hover {
    background-color: var(--dark);
  }
  
  .status-icon {
    padding: 2px 5px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: var(--border-radius);
  }
  
  .icon-danger {
    color: rgb(255, 70, 70);
  }
  
  .icon-success {
    color: rgb(29, 153, 255);
  }
  
  /* CARDS */
  .card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
  }
  
  .card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: 2.5%;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
  
  .card-body {
    padding: 2.5%;
  }
  
  /* FORM */
  .form-label,
  .form-input,
  .form-textarea {
    display: block;
  }
  
  .form-label {
    font-size: 1.1rem;
    margin: 0 0 0 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid var(--light-dark);
    border-radius: var(--border-radius);
  }
  
  /* HEIGHT / WIDTH UTILS */
  .min-100-vh {
    min-height: 100vh;
  }
  
  .min-100-vw {
    min-width: 100vw;
  }
  
  /* FONT UTILS */
  .text-uppercase {
    text-transform: uppercase;
  }
  
  /* FLEX CONTENT */
  .flex-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .justify-space-between {
    justify-content: space-between;
  }
  
  .justify-space-around {
    justify-content: space-around;
  }
  
  .justify-flex-start {
    justify-content: flex-start;
  }
  
  .justify-flex-end {
    justify-content: flex-end;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .align-stretch {
    align-items: stretch;
  }
  
  .align-end {
    align-items: flex-end;
  }
  
  .align-center {
    align-items: center;
  }
  
  .col-auto {
    flex-grow: 1;
  }
  
  .col-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }
  
  .col-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }
  
  .col-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }
  
  .col-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }
  
  .col-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }
  
  .col-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }
  
  .col-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }
  
  .col-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }
  
  .col-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }
  
  .col-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }
  
  .col-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }
  
  .col-12 {
    flex: 0 0 100%;
  }
  
  /* col-sm */
  @media screen and (min-width: 640px) {
    .col-sm-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
  
    .col-sm-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
  
    .col-sm-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
  
    .col-sm-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
  
    .col-sm-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
  
    .col-sm-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
  
    .col-sm-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
  
    .col-sm-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
  
    .col-sm-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
  
    .col-sm-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
  
    .col-sm-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
  
    .col-sm-12 {
      flex: 0 0 100%;
    }
  }
  
  /* col-md */
  @media screen and (min-width: 768px) {
    .col-md-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
  
    .col-md-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
  
    .col-md-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
  
    .col-md-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
  
    .col-md-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
  
    .col-md-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
  
    .col-md-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
  
    .col-md-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
  
    .col-md-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
  
    .col-md-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
  
    .col-md-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
  
    .col-md-12 {
      flex: 0 0 100%;
    }
  }
  
  /* col-lg */
  @media screen and (min-width: 992px) {
    .col-lg-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
  
    .col-lg-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
  
    .col-lg-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
  
    .col-lg-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
  
    .col-lg-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
  
    .col-lg-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
  
    .col-lg-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
  
    .col-lg-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
  
    .col-lg-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
  
    .col-lg-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
  
    .col-lg-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
  
    .col-lg-12 {
      flex: 0 0 100%;
    }
  }
  
  /* col-xl */
  @media screen and (min-width: 1200px) {
    .col-xl-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
  
    .col-xl-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
  
    .col-xl-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
  
    .col-xl-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
  
    .col-xl-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
  
    .col-xl-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
  
    .col-xl-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
  
    .col-xl-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
  
    .col-xl-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
  
    .col-xl-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
  
    .col-xl-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
  
    .col-xl-12 {
      flex: 0 0 100%;
    }
  }
  